.question {
	border-radius: 0.5rem;
	background: #fefefe;
	box-shadow: 0 2px 12px rgba(131, 90, 253, 1);
	padding: 1.5rem;

	& + .question {
		margin-top: 0.5rem;
	}

	&.highlighted {
		background: #d9cdfe;
		border: 1.5px solid #7a4efd;
		box-shadow: 0 3px 15px rgba(131, 90, 253, 1);
	}
	&.answered {
		background: #bfbfbf;
		box-shadow: 0 1px 10px rgba(89, 89, 89, 1);
	}

	p {
		color: #1a1a1a;
	}

	footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 1.5rem;
	}

	.user-info {
		display: flex;
		align-items: center;

		img {
			width: 3rem;
			height: 3rem;
			border-radius: 50%;
		}

		span {
			margin-left: 1rem;
			color: #595959;
			font-size: 1rem;
		}
	}
	div {
		display: flex;
		gap: 0.5rem;
	}

	button {
		border: 0;
		background: transparent;
		cursor: pointer;
		transition: filter 0.2s;

		&.like-button {
			display: flex;
			align-items: flex-end;
			color: #d67ee2;
			gap: 0.5rem;

			&.liked {
				color: #7a4efd;

				svg path {
					stroke: #7a4efd;
				}
			}
		}

		&:hover {
			filter: brightness(0.8);
		}
	}
}
